<style>
head {
  font-family: sans-serif;}
ul 
li {
  font-family: fantasy;}
a{ 
  font-family: Helvetica Neue;}
h1 {
  text-align: left;}
ul
{
  font-family: Helvetica Neue;
}
h2 {
  font-family: serif;}
p {
  font-family: sans-serif;}
ul 
{
  font-family: fantasy;}
</style>

